<a href="https://colab.research.google.com/github/pradeepvaranasi/insurance_re/blob/main/TigerAnalytics_CaseStudy_PradeepVaranasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Business Objective

**Goal:** Increase Profitability by targeting Customer Retention.

Cross-sell insurance (ppi) to the existing customer base who have a secured or unsecured type of loan, but no PPI product yet.

**Assumptions:**


1.   Insurance company based out of UK.
2.   List item

####Importing Libraries

In [2]:
# Imporing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

####Importing Data

In [3]:
# Establishing the connection between Colab and Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Importing the data from gdrive
data = pd.read_excel('drive/MyDrive/Mortgage_Insurance_Data.xls')

In [5]:
# Displaying all the columns
pd.set_option('display.max_columns', None)

In [6]:
# Checking the output for first n rows
data.head()

,Ref,Credit_Score,Final_Grade,Term,Net_Advance,APR,Loan_Type,Mosaic,Mosaic_Class,Time_at_Address,Residential_Status,Telephone_Indicator,Number_of_Dependants,Marital_Status,Gender,Time_in_Employment,Employment_Status,Full_Part_Time_Empl_Ind,Perm_Temp_Empl_Ind,Income_Range,Current_Account,ACCESS_Card,VISA_Card,American_Express,Diners_Card,Cheque_Guarantee,Other_Credit_Store_Card,Time_with_Bank,Value_of_Property,Outstanding_Mortgage_Bal,Total_Outstanding_Balances,Bureau_Data___Monthly_Other_Co_R,Worst_History_CT,Payment_Method,Age,Total_outstanding_balance__mortg,Total___Public_Info___CCJ____ban,Total_value__Public_Info___CCJ__,Time_since_most_recent_Public_In,Total_value__CAIS_8_9s,Worst_status_L6m,Worst_CUrrent_Status,__of_status_3_s_L6m,Searches___Total___L6m,Years_on_ER_for_SP,Bankruptcy_Detected__SP_,Total___outstanding_CCJ_s,Total_outstanding_balance___excl,Total___of_accounts,CIFAS_detected,Time_since_most_recent_outstandi,Insurance_Description,PPI,code,prdt_desc,category,PPI_SINGLE,PPI_JOINT,PPI_LCI
0,1,918,A,36,3000.0,14.4,UnSecured,46,8,132,H,Y,0,M,M,288,S,F,P,6,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,168,178000,47679,64406,513,5,D,46,64,1,5,16,0,0,0,0,9,10,N,1,18,6,N,16,NaN,0,NaN,NaN,NaN,0,0,0
1,3,903,A,120,21000.0,7.9,secured,16,3,288,H,Y,0,S,F,37,R,P,P,2,TRUE,FALSE,TRUE,FALSE,FALSE,TRUE,FALSE,300,180000,11563,31614,331,5,D,59,13,0,0,99,0,1,0,0,6,22,N,0,203,8,N,99,Life & Critical Illn,1,748.0,LIFE & CRITICAL ILLNESS,LCI,0,0,1
2,4,1060,X,78,7200.0,7.9,secured,17,3,276,H,Y,0,M,M,154,P,F,P,5,TRUE,FALSE,TRUE,FALSE,FALSE,TRUE,FALSE,369,199000,17563,26045,413,0,D,56,19,2,30,50,266,0,0,0,1,21,N,1,87,7,N,50,Joint,1,719.0,LASCI JOINT,Joint,0,1,0
3,6,839,B,60,8000.0,16.9,UnSecured,47,8,48,R,Y,0,M,M,82,G,F,P,6,TRUE,FALSE,TRUE,FALSE,FALSE,TRUE,FALSE,216,120000,0,181217,1112,5,D,33,160,0,0,99,1,1,0,0,5,0,N,0,229,9,N,99,Life & Critical Illn,1,748.0,LIFE & CRITICAL ILLNESS,LCI,0,0,1
4,7,1057,X,60,7650.0,7.4,UnSecured,55,10,156,H,Y,2,M,M,342,S,F,P,6,TRUE,TRUE,FALSE,FALSE,FALSE,TRUE,FALSE,510,180000,60101,63811,435,0,D,49,62,0,0,99,0,0,0,0,1,13,N,0,38,6,N,99,Single,1,718.0,LASCI,Single,1,0,0

In [7]:
# Creating a copy of the original dataframe
df = data.copy()

In [8]:
# Checking the shape of df
df.shape

(16383, 59)

In [9]:
# Checking the info of df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16383 entries, 0 to 16382
Data columns (total 59 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Ref                               16383 non-null  int64
 1   Credit_Score                      16383 non-null  int64
 2   Final_Grade                       16383 non-null  object
 3   Term                              16383 non-null  int64
 4   Net_Advance                       16383 non-null  float64
 5   APR                               16383 non-null  float64
 6   Loan_Type                         16383 non-null  object
 7   Mosaic                            16383 non-null  int64
 8   Mosaic_Class                      16383 non-null  int64
 9   Time_at_Address                   16383 non-null  int64
 10  Residential_Status                16383 non-null  object
 11  Telephone_Indicator               16383 non-null  object
 12  Number_of_Dependants              16383 non-null  int64
 13  Marital_Status                    16383 non-null  object
 14  Gender                            16383 non-null  object
 15  Time_in_Employment                16383 non-null  int64
 16  Employment_Status                 16383 non-null  object
 17  Full_Part_Time_Empl_Ind           16383 non-null  object
 18  Perm_Temp_Empl_Ind                16383 non-null  object
 19  Income_Range                      16383 non-null  int64
 20  Current_Account                   16383 non-null  object
 21  ACCESS_Card                       16383 non-null  object
 22  VISA_Card                         16383 non-null  object
 23  American_Express                  16383 non-null  object
 24  Diners_Card                       16383 non-null  object
 25  Cheque_Guarantee                  16383 non-null  object
 26  Other_Credit_Store_Card           16383 non-null  object
 27  Time_with_Bank                    16383 non-null  int64
 28  Value_of_Property                 16383 non-null  int64
 29  Outstanding_Mortgage_Bal          16383 non-null  int64
 30  Total_Outstanding_Balances        16383 non-null  int64
 31  Bureau_Data___Monthly_Other_Co_R  16383 non-null  int64
 32  Worst_History_CT                  16383 non-null  int64
 33  Payment_Method                    16383 non-null  object
 34  Age                               16383 non-null  int64
 35  Total_outstanding_balance__mortg  16383 non-null  int64
 36  Total___Public_Info___CCJ____ban  16383 non-null  int64
 37  Total_value__Public_Info___CCJ__  16383 non-null  int64
 38  Time_since_most_recent_Public_In  16383 non-null  int64
 39  Total_value__CAIS_8_9s            16383 non-null  int64
 40  Worst_status_L6m                  16383 non-null  int64
 41  Worst_CUrrent_Status              16383 non-null  int64
 42  __of_status_3_s_L6m               16383 non-null  int64
 43  Searches___Total___L6m            16383 non-null  int64
 44  Years_on_ER_for_SP                16383 non-null  int64
 45  Bankruptcy_Detected__SP_          16383 non-null  object
 46  Total___outstanding_CCJ_s         16383 non-null  int64
 47  Total_outstanding_balance___excl  16383 non-null  int64
 48  Total___of_accounts               16383 non-null  int64
 49  CIFAS_detected                    16383 non-null  object
 50  Time_since_most_recent_outstandi  16383 non-null  int64
 51  Insurance_Description             9461 non-null   object
 52  PPI                               16383 non-null  int64
 53  code                              9405 non-null   float64
 54  prdt_desc                         9345 non-null   object
 55  category                          9461 non-null   object
 56  PPI_SINGLE                        16383 non-null  int64
 57  PPI_JOINT                         16383 non-null  int64
 58  PPI_LCI                           16383 non-null  int64
dtypes: float64(3), int64(34), object(22)
memory usage: 7.4+ MB

In [31]:
# Checking the describe fn on df
df.describe().iloc[[1,5]]

,Ref,Credit_Score,Term,Net_Advance,APR,Mosaic,Mosaic_Class,Time_at_Address,Number_of_Dependants,Time_in_Employment,Income_Range,Time_with_Bank,Value_of_Property,Outstanding_Mortgage_Bal,Total_Outstanding_Balances,Bureau_Data___Monthly_Other_Co_R,Worst_History_CT,Age,Total_outstanding_balance__mortg,Total___Public_Info___CCJ____ban,Total_value__Public_Info___CCJ__,Time_since_most_recent_Public_In,Total_value__CAIS_8_9s,Worst_status_L6m,Worst_CUrrent_Status,__of_status_3_s_L6m,Searches___Total___L6m,Years_on_ER_for_SP,Total___outstanding_CCJ_s,Total_outstanding_balance___excl,Total___of_accounts,Time_since_most_recent_outstandi,PPI,code,PPI_SINGLE,PPI_JOINT,PPI_LCI
mean,21168.695294,882.061832,59.142892,7364.007758,18.754587,29.419703,5.352683,120.488128,0.80846,103.096075,4.408716,194.491119,166366.301288,70060.964842,78214.242446,601.941952,2.692608,44.100531,64.961607,0.205579,5.011231,90.182262,18.579747,0.798633,0.482757,0.326497,2.917659,6.572667,0.157602,137.793628,5.984679,91.697308,0.577489,743.303243,0.382348,0.074773,0.120369
50%,21303.000000,882.000000,60.000000,5300.000000,16.900000,25.000000,4.000000,84.000000,0.00000,72.000000,5.000000,181.000000,125000.000000,60000.000000,59430.000000,496.000000,4.000000,44.000000,48.000000,0.000000,0.000000,99.000000,0.000000,0.000000,0.000000,0.000000,2.000000,4.000000,0.000000,93.000000,6.000000,99.000000,1.000000,756.000000,0.000000,0.000000,0.000000